USE [master]
GO
/****** Object:  Database [QLDLKB]    Script Date: 8/14/2023 10:05:02 PM ******/
CREATE DATABASE [QLDLKB]
GO

USE [QLDLKB]
GO
/****** Object:  Table [dbo].[PATIENT]    Script Date: 8/14/2023 10:05:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PATIENT](
	[MaKhachHang] [varchar](10) NOT NULL,
	[Ho] [nvarchar](50) NOT NULL,
	[Ten] [nvarchar](30) NOT NULL,
	[GioiTinh] [bit] NOT NULL,
	[NamSinh] [varchar](5) NOT NULL,
	[Cmnd] [varchar](12) NULL,
	[Sdt] [varchar](10) NOT NULL,
	[Email] [varchar](50) NOT NULL,
	[DiaChi] [nvarchar](80) NULL,
	[HinhAnh] [varchar](100) NULL,
	[TaiKhoan] [varchar](30) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaKhachHang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Sdt] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BOOK]    Script Date: 8/14/2023 10:05:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BOOK](
	[MaLichKham] [varchar](10) NOT NULL,
	[MaKhachHang] [varchar](10) NOT NULL,
	[MaGoi] [varchar](10) NOT NULL,
	[MaBenh] [varchar](10) NULL,
	[MoTa] [nvarchar](500) NOT NULL,
	[TrangThai] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaLichKham] ASC,
	[MaKhachHang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[MOST_BOOKING_CUSTOMER]    Script Date: 8/14/2023 10:05:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[MOST_BOOKING_CUSTOMER]
AS
SELECT PATIENT.MaKhachHang, PATIENT.Ho, PATIENT.Ten, KQ.SoLuongDat FROM
(SELECT PATIENT.MaKhachHang, COUNT(BOOK.MaKhachHang) AS SoLuongDat
FROM PATIENT LEFT JOIN BOOK 
ON PATIENT.MaKhachHang = BOOK.MaKhachHang GROUP BY PATIENT.MaKhachHang) AS KQ, PATIENT
WHERE KQ.MaKhachHang = PATIENT.MaKhachHang 
GO
/****** Object:  Table [dbo].[ACCOUNT]    Script Date: 8/14/2023 10:05:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ACCOUNT](
	[TaiKhoan] [varchar](30) NOT NULL,
	[MatKhau] [varchar](100) NOT NULL,
	[TrangThai] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[TaiKhoan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ASSIGN]    Script Date: 8/14/2023 10:05:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ASSIGN](
	[TaiKhoan] [varchar](30) NOT NULL,
	[MaDanhMuc] [varchar](10) NOT NULL,
	[MaQuyen] [varchar](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[TaiKhoan] ASC,
	[MaDanhMuc] ASC,
	[MaQuyen] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DEPARTMENT]    Script Date: 8/14/2023 10:05:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DEPARTMENT](
	[MaKhoa] [varchar](10) NOT NULL,
	[TenKhoa] [nvarchar](100) NOT NULL,
	[TrangThai] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaKhoa] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DISEASE]    Script Date: 8/14/2023 10:05:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DISEASE](
	[MaBenh] [varchar](10) NOT NULL,
	[TenBenh] [nvarchar](100) NOT NULL,
	[TrangThai] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaBenh] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DOCTOR]    Script Date: 8/14/2023 10:05:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DOCTOR](
	[MaBacSi] [varchar](10) NOT NULL,
	[Ho] [nvarchar](50) NOT NULL,
	[Ten] [nvarchar](30) NOT NULL,
	[GioiTinh] [bit] NOT NULL,
	[NgaySinh] [date] NOT NULL,
	[Cmnd] [varchar](12) NOT NULL,
	[Sdt] [varchar](10) NOT NULL,
	[Email] [varchar](50) NULL,
	[DiaChi] [nvarchar](80) NOT NULL,
	[QueQuan] [nvarchar](30) NOT NULL,
	[HinhAnh] [varchar](100) NULL,
	[MaKhoa] [varchar](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaBacSi] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Cmnd] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Sdt] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[INTERFACE]    Script Date: 8/14/2023 10:05:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[INTERFACE](
	[MaDanhMuc] [varchar](10) NOT NULL,
	[TenDanhMuc] [nvarchar](30) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaDanhMuc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PACKAGE]    Script Date: 8/14/2023 10:05:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PACKAGE](
	[MaGoi] [varchar](10) NOT NULL,
	[TenGoi] [nvarchar](30) NOT NULL,
	[GiaGoi] [money] NOT NULL,
	[TuNgay] [date] NOT NULL,
	[DenNgay] [date] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaGoi] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ROLE]    Script Date: 8/14/2023 10:05:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ROLE](
	[MaQuyen] [varchar](10) NOT NULL,
	[TenQuyen] [nvarchar](30) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaQuyen] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SCHEDULE]    Script Date: 8/14/2023 10:05:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SCHEDULE](
	[MaLichKham] [varchar](10) NOT NULL,
	[MaBacSi] [varchar](10) NOT NULL,
	[DiaChiKham] [nvarchar](80) NOT NULL,
	[Ngay] [date] NOT NULL,
	[Gio] [varchar](10) NOT NULL,
	[SoLuongKham] [int] NOT NULL,
	[TrangThai] [bit] NOT NULL,
	[MaNhanVien] [varchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaLichKham] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[STAFF]    Script Date: 8/14/2023 10:05:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[STAFF](
	[MaNhanVien] [varchar](10) NOT NULL,
	[Ho] [nvarchar](50) NOT NULL,
	[Ten] [nvarchar](30) NOT NULL,
	[GioiTinh] [bit] NOT NULL,
	[NgaySinh] [date] NOT NULL,
	[Cmnd] [varchar](12) NOT NULL,
	[Sdt] [varchar](10) NOT NULL,
	[Email] [varchar](50) NOT NULL,
	[DiaChi] [nvarchar](80) NOT NULL,
	[HinhAnh] [varchar](100) NULL,
	[TaiKhoan] [varchar](30) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaNhanVien] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Cmnd] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Sdt] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [id1_Cmnd]    Script Date: 8/14/2023 10:05:02 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [id1_Cmnd] ON [dbo].[PATIENT]
(
	[Cmnd] ASC
)
WHERE ([Cmnd] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ASSIGN]  WITH CHECK ADD  CONSTRAINT [FK_ASSIGN_ACCOUNT] FOREIGN KEY([TaiKhoan])
REFERENCES [dbo].[ACCOUNT] ([TaiKhoan])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ASSIGN] CHECK CONSTRAINT [FK_ASSIGN_ACCOUNT]
GO
ALTER TABLE [dbo].[ASSIGN]  WITH CHECK ADD  CONSTRAINT [FK_ASSIGN_INTERFACE] FOREIGN KEY([MaDanhMuc])
REFERENCES [dbo].[INTERFACE] ([MaDanhMuc])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ASSIGN] CHECK CONSTRAINT [FK_ASSIGN_INTERFACE]
GO
ALTER TABLE [dbo].[ASSIGN]  WITH CHECK ADD  CONSTRAINT [FK_ASSIGN_ROLE] FOREIGN KEY([MaQuyen])
REFERENCES [dbo].[ROLE] ([MaQuyen])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ASSIGN] CHECK CONSTRAINT [FK_ASSIGN_ROLE]
GO
ALTER TABLE [dbo].[BOOK]  WITH CHECK ADD  CONSTRAINT [FK_BOOK_DISEASE] FOREIGN KEY([MaBenh])
REFERENCES [dbo].[DISEASE] ([MaBenh])
GO
ALTER TABLE [dbo].[BOOK] CHECK CONSTRAINT [FK_BOOK_DISEASE]
GO
ALTER TABLE [dbo].[BOOK]  WITH CHECK ADD  CONSTRAINT [FK_BOOK_PACKAGE] FOREIGN KEY([MaGoi])
REFERENCES [dbo].[PACKAGE] ([MaGoi])
GO
ALTER TABLE [dbo].[BOOK] CHECK CONSTRAINT [FK_BOOK_PACKAGE]
GO
ALTER TABLE [dbo].[BOOK]  WITH CHECK ADD  CONSTRAINT [FK_BOOK_PATIENT] FOREIGN KEY([MaKhachHang])
REFERENCES [dbo].[PATIENT] ([MaKhachHang])
GO
ALTER TABLE [dbo].[BOOK] CHECK CONSTRAINT [FK_BOOK_PATIENT]
GO
ALTER TABLE [dbo].[BOOK]  WITH CHECK ADD  CONSTRAINT [FK_BOOK_SCHEDULE] FOREIGN KEY([MaLichKham])
REFERENCES [dbo].[SCHEDULE] ([MaLichKham])
GO
ALTER TABLE [dbo].[BOOK] CHECK CONSTRAINT [FK_BOOK_SCHEDULE]
GO
ALTER TABLE [dbo].[DOCTOR]  WITH CHECK ADD  CONSTRAINT [FK_DOCTOR_DEPARTMENT] FOREIGN KEY([MaKhoa])
REFERENCES [dbo].[DEPARTMENT] ([MaKhoa])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[DOCTOR] CHECK CONSTRAINT [FK_DOCTOR_DEPARTMENT]
GO
ALTER TABLE [dbo].[PATIENT]  WITH CHECK ADD  CONSTRAINT [FK_PATIENT_ACCOUNT] FOREIGN KEY([TaiKhoan])
REFERENCES [dbo].[ACCOUNT] ([TaiKhoan])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PATIENT] CHECK CONSTRAINT [FK_PATIENT_ACCOUNT]
GO
ALTER TABLE [dbo].[SCHEDULE]  WITH CHECK ADD  CONSTRAINT [FK_SCHEDULE_DOCTOR] FOREIGN KEY([MaBacSi])
REFERENCES [dbo].[DOCTOR] ([MaBacSi])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SCHEDULE] CHECK CONSTRAINT [FK_SCHEDULE_DOCTOR]
GO
ALTER TABLE [dbo].[SCHEDULE]  WITH CHECK ADD  CONSTRAINT [FK_SCHEDULE_STAFF] FOREIGN KEY([MaNhanVien])
REFERENCES [dbo].[STAFF] ([MaNhanVien])
GO
ALTER TABLE [dbo].[SCHEDULE] CHECK CONSTRAINT [FK_SCHEDULE_STAFF]
GO
ALTER TABLE [dbo].[STAFF]  WITH CHECK ADD  CONSTRAINT [FK_STAFF_ACCOUNT] FOREIGN KEY([TaiKhoan])
REFERENCES [dbo].[ACCOUNT] ([TaiKhoan])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[STAFF] CHECK CONSTRAINT [FK_STAFF_ACCOUNT]
GO
/****** Object:  StoredProcedure [dbo].[BOOK_STATUS_DETAIL]    Script Date: 8/14/2023 10:05:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[BOOK_STATUS_DETAIL] (@year INT)
AS
BEGIN
	CREATE TABLE CALENDAR (Month INT)
	DECLARE @MonthCounter INT = 1
	WHILE @MonthCounter <= 12
		BEGIN
		INSERT INTO CALENDAR (Month) VALUES (@MonthCounter)
		SET @MonthCounter = @MonthCounter + 1
		END
	SELECT CALENDAR.Month as Thang, ISNULL(Dat, 0) AS Dat, ISNULL(Cho, 0) AS Cho, 
	ISNULL(XacNhan, 0) AS XacNhan, ISNULL(Huy, 0) AS Huy FROM 
	CALENDAR LEFT JOIN 
	(SELECT
	SCHEDULE.Ngay,
	COUNT(CASE WHEN BOOK.MaLichKham = SCHEDULE.MaLichKham THEN 1 END) AS Dat,
	COUNT(CASE WHEN BOOK.MaLichKham = SCHEDULE.MaLichKham 
	AND BOOK.TrangThai = 0 THEN 1 END) AS Cho,
	COUNT(CASE WHEN BOOK.MaLichKham = SCHEDULE.MaLichKham 
	AND BOOK.TrangThai = 1 THEN 1 END) AS XacNhan,
	COUNT(CASE WHEN BOOK.MaLichKham = SCHEDULE.MaLichKham 
	AND BOOK.TrangThai = 2 THEN 1 END) AS Huy
	FROM SCHEDULE, BOOK
	WHERE SCHEDULE.MaLichKham = BOOK.MaLichKham
	AND YEAR(SCHEDULE.Ngay) = @year
	GROUP BY SCHEDULE.Ngay) AS KQ ON MONTH(KQ.Ngay) = CALENDAR.Month
	DROP TABLE CALENDAR
END
GO
/****** Object:  StoredProcedure [dbo].[MOST_BOOKED_DISEASE]    Script Date: 8/14/2023 10:05:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[MOST_BOOKED_DISEASE] (@month INT, @year INT)
AS
BEGIN
	SELECT KQ.MaBenh, TenBenh, SoLuongChon FROM
	(SELECT MaBenh, COUNT(*) AS SoLuongChon
	FROM BOOK, SCHEDULE
	WHERE BOOK.MaLichKham = SCHEDULE.MaLichKham 
	AND MONTH(SCHEDULE.Ngay) = @month AND YEAR(SCHEDULE.Ngay) = @year
	GROUP BY MaBenh) AS KQ, DISEASE
	WHERE KQ.MaBenh = DISEASE.MaBenh
	ORDER BY SoLuongChon DESC, TenBenh ASC
END
GO
/****** Object:  StoredProcedure [dbo].[MOST_BOOKED_DOCTOR]    Script Date: 8/14/2023 10:05:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[MOST_BOOKED_DOCTOR] (@month INT, @year INT)
AS
BEGIN
	 SELECT KQ.MaBacSi, Ho, Ten, SoLuongDat, SoLuongXacNhan, SoLuongHuy
	 FROM(SELECT MaBacSi, Ngay, 
	 COUNT(CASE WHEN BOOK.MaLichKham = SCHEDULE.MaLichKham THEN 1 END) AS SoLuongDat,
	 COUNT(CASE WHEN BOOK.MaLichKham = SCHEDULE.MaLichKham 
	 AND BOOK.TrangThai = 1 THEN 1 END) AS SoLuongXacNhan,
	 COUNT(CASE WHEN BOOK.MaLichKham = SCHEDULE.MaLichKham 
	 AND BOOK.TrangThai = 2 THEN 1 END) AS SoLuongHuy
	 FROM SCHEDULE, BOOK
	 WHERE SCHEDULE.MaLichKham = BOOK.MaLichKham
	 GROUP BY SCHEDULE.MaBacSi, SCHEDULE.Ngay) AS KQ, DOCTOR
	 WHERE KQ.MaBacSi = DOCTOR.MaBacSi 
	 AND MONTH(KQ.Ngay) = @month AND YEAR(KQ.Ngay) = @year
	 ORDER BY SoLuongDat DESC, SoLuongXacNhan DESC, SoLuongHuy ASC
END
GO
/****** Object:  StoredProcedure [dbo].[MOST_BOOKED_PACKAGE]    Script Date: 8/14/2023 10:05:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[MOST_BOOKED_PACKAGE] (@month INT, @year INT)
AS
BEGIN
	SELECT KQ.MaGoi, TenGoi, GiaGoi, SoLuongChon, GiaGoi*SoLuongChon AS TongTien FROM
	(SELECT MaGoi, COUNT(*) AS SoLuongChon
	FROM BOOK, SCHEDULE
	WHERE BOOK.MaLichKham = SCHEDULE.MaLichKham 
	AND MONTH(SCHEDULE.Ngay) = @month AND YEAR(SCHEDULE.Ngay) = @year
	GROUP BY MaGoi) AS KQ, PACKAGE
	WHERE KQ.MaGoi = PACKAGE.MaGoi
	GROUP BY  KQ.MaGoi, TenGoi, SoLuongChon, GiaGoi
	ORDER BY SoLuongChon DESC, TongTien DESC, TenGoi ASC
END
GO
USE [master]
GO
